html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #3964a2;
  color: #fff;
}
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #477dca;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.article__aside__list,
ol.article__aside__list {
  list-style-type: disc;
  margin-bottom: 0.75em;
  padding-left: 1.5em;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: #355e98;
}

hr {
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0 0 0.75em 0;
}

.icon {
  display: inline-block;
  height: 3em;
  width: 3em;
}

a .icon {
  -webkit-transition: fill 150ms ease;
  -moz-transition: fill 150ms ease;
  transition: fill 150ms ease;
  fill: #477dca;
}
a:hover .icon {
  fill: #355e98;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  padding: 1.5em 1.5em 0;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

/**
* Small 1 col
* Medium 2 col (1 third + 2 third)
*/
.l-s1--m2_third {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.l-s1--m2_third::after {
  clear: both;
  content: "";
  display: table;
}
.l-s1--m2_third > :first-child {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
}
.l-s1--m2_third > :first-child:last-child {
  margin-right: 0;
}
@media screen and (min-width: 700px) {
  .l-s1--m2_third > :first-child {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
  }
  .l-s1--m2_third > :first-child:last-child {
    margin-right: 0;
  }
}
.l-s1--m2_third > :last-child {
  display: none;
}
@media screen and (min-width: 700px) {
  .l-s1--m2_third > :last-child {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 22.316%;
  }
  .l-s1--m2_third > :last-child:last-child {
    margin-right: 0;
  }
}

.header--main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}
.header--main::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 699px) {
  .header--main {
    font-size: 3vw;
  }
}
.header--main__brand {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
  text-align: left;
}
.header--main__brand:last-child {
  margin-right: 0;
}
@media screen and (min-width: 700px) {
  .header--main__brand {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
  }
  .header--main__brand:last-child {
    margin-right: 0;
  }
}
.header--main__social {
  display: none;
}
@media screen and (min-width: 700px) {
  .header--main__social {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%;
    text-align: right;
  }
  .header--main__social:last-child {
    margin-right: 0;
  }
}

.brand__logo {
  max-width: 4em;
  margin-right: .5em;
}
.brand__name {
  font-style: italic;
}
.brand__logo, .brand__name {
  display: inline-block;
  vertical-align: middle;
}

.nav--primary {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}
.nav--primary::after {
  clear: both;
  content: "";
  display: table;
}
.nav--primary__list {
  background-color: #e6e6e6;
  border: 1px solid #999;
  display: none;
  padding-right: 0.75em;
  padding-left: 0.75em;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.nav--primary__list a {
  font-size: 1.8em;
}
@media screen and (min-width: 700px) {
  .nav--primary__list {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav--primary__toggle {
  margin: auto;
  cursor: pointer;
  display: block;
}
@media screen and (min-width: 700px) {
  .nav--primary__toggle {
    display: none;
  }
}
.nav--primary__toggle:focus + .nav--primary__list {
  display: block;
}

.social > * {
  display: inline-block;
  margin-left: 1em;
}

.social--flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding: 1em;
}
.social--flex svg {
  display: block;
}

.footer--main {
  background-color: #e6e6e6;
  border: 1px solid #999;
  border-bottom: none;
}
@media screen and (min-width: 700px) {
  .footer--main {
    padding-top: 3em;
  }
  .footer--main__social {
    display: none;
  }
}

/**
* Fake float right
*/
.article__aside__title {
  font-weight: bold;
}
@media screen and (min-width: 700px) {
  .article__aside {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.75em;
    width: 9em;
  }
}

@media screen and (min-width: 700px) {
  .article__copy {
    position: relative;
  }
  .article__copy::before {
    content: '';
    display: block;
    float: right;
    width: 9em;
    height: 7em;
  }
}

.article--related {
  margin-bottom: 1.5em;
}
.article--related h1 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=screen.css.map */
