/**
* Fake float right
*/
$fake-float-width: 9em;
$fake-float-height: 7em;

.article__aside {

    &__title {
        font-weight: bold;
    }

    &__list {
        @extend %default-ul;
    }
    @include media($medium-screen-up) {

        @include position(absolute, 0 0 null null);
        @include padding(null $base-spacing / 2 $base-spacing / 2 $base-spacing / 2);
        width: $fake-float-width;

    }
}

.article__copy {

    @include media($medium-screen-up) {
        position: relative;

        &::before {
            content: '';
            display: block;
            float: right;
            width: $fake-float-width;
            height: $fake-float-height;
        }
    }
}

.article--related {
    h1 {
        font-size: $base-font-size * 1.8;
        margin-bottom: $base-spacing / 3;
    }
    margin-bottom: $base-spacing;
}