.footer--main {
    background-color: $secondary-background-color;
    border: $base-border;
    border-bottom: none;

    @include media($medium-screen-up) {
        padding-top: 3em;
        &__social {
            display: none;
        }
    }

}