.header--main {
    @include outer-container();
    margin-bottom: $base-spacing * 2;

    //make scalable the logo and h1
    @include media($medium-screen-down) {
        font-size: 3vw;
    }

    &__brand {
        @include span-columns(4);
        @include media($medium-screen-up) {
            @include span-columns(5);
        }
        text-align: left;
    }
    &__social {
        display: none;
        @include media($medium-screen-up) {
            @include span-columns(3);
            text-align: right;
        }
    }
}

.brand {
    &__logo {
        max-width: 4em;
        margin-right: .5em;
    }
    &__name {
        font-style: italic;
    }
    &__logo,
    &__name {
        display: inline-block;
        vertical-align: middle;
    }
}
