.nav--primary {

    @include outer-container();
    margin-bottom: $base-spacing * 2;

    &__list {
        background-color: $secondary-background-color;
        border: $base-border;
        display: none;

        @include padding(null $base-spacing / 2);
        @include align-items(center);
        @include justify-content(space-between);

        a {
            font-size: $base-font-size * 1.8;
        }
        @include media($medium-screen-up) {
            @include display(flex);
        }

    }

    &__toggle {
        margin: auto;
        cursor: pointer;
        display: block;
        @include media($medium-screen-up) {
            display: none;
        }
    }

    &__toggle:focus + &__list {
        display: block;
    }
}