.social {
    > * {
        display: inline-block;
        margin-left: 1em;
    }
}

.social--flex {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-around);
    padding: 1em;
    svg {
        display: block;
    }
}