
// Neat Overrides
 $column: 90px;
 $gutter: 30px;
 $grid-columns: 4;
 $max-width: 1200px;

// Neat Breakpoints
$medium-screen: 700px;

$medium-screen-down: new-breakpoint(max-width $medium-screen - 1px 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
