.icon {
    display: inline-block;
    height: 3em;
    width: 3em;
}
a {
    .icon {
        @include transition(fill $base-duration $base-timing);
        fill: $action-color;
    }
    &:hover {
        .icon {
            fill: shade($action-color, 25%);
        }
    }
}