body {
    @include outer-container();
    padding: $base-spacing;
    @include padding($base-spacing $base-spacing 0);
}

/**
* Small 1 col
* Medium 2 col (1 third + 2 third)
*/
.l-s1--m2_third {
    @include outer-container();
    >:first-child {
        @include span-columns(4);
        @include media($medium-screen-up) {
            @include span-columns(6);
        }
    }
    >:last-child {
        display: none;
        @include media($medium-screen-up) {
            @include span-columns(2);
        }
    }
}